# Core dependencies for Spark and MLflow
pyspark
mlflow
delta-spark
evidently

# API dependencies
fastapi
uvicorn[standard]

# Kafka client
confluent-kafka

# Data processing and evaluation libraries
pandas
numpy
scikit-learn

# Frontend
streamlit